body {

}

header {
    background: #404040;
    padding: 20px 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
}

h1 {
    color: #e88100;
}

p {
    margin: 0 0 10px;
    text-align: left;
}

.home-features .fa {
    color: #e88100;
}

.navbar h1 {
    margin: 0;
}

.navbar a {
    color: #fff;
    text-align: center;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #e88100;
}

.nav > li.active > a:before,
.nav > li > a:hover:before {
    content: '\25BE';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -2px;
    color: #e88100;

}

a.navbar-brand {
    /*text-shadow: 2px 4px 3px rgba(255,255,255,0.4);*/
    padding: 0;
}

.hilite {
    color: white;
}

.navbar-toggle {
    border-color: #fff;
    color: #fff;
}

.icon-bar {
    background: white;
}

.carousel {
    margin-top: 40px;
}

.home-ad {
    background: #d9524e;
    text-align: center;
    color: #fff;
    padding: 50px 0;
}

.ad2 {
    background: #e88100;
}

.what-is {
    background: #c5c3aa;
    color: #404040;
    padding: 50px 20px;
}

.carousel-caption {
}

.quote-container {
    padding: 20px;
    text-align: center;
    background: #c5c3aa;
}

.quote {
    font-size: 1.25em;
    font-family: 'Optima', cursive;
}

.home-features h3 {
    margin-top: 0;
}

footer {
    font-weight: 300;
    padding: 30px 0;
}

.video-embed {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}

.video-embed embed,
.video-embed iframe,
.video-embed object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.map-canvas {
    width: 100%;
    height: 400px;
}

@media (min-width: 992px) {
    .main-content {
        min-height: 500px;
        padding-top: 60px;
    }
}
